[submodule "kahypar"]
	path = kahypar
	url = https://github.com/SebastianSchlag/kahypar.git
[submodule "RepeatsCounter"]
	path = RepeatsCounter
	url = https://github.com/BenoitMorel/RepeatsCounter.git
